
	<div class="col-4">
	<input type="text" class="enroll form-control" name="enroll" placeholder="Enrollment Number">
	</div>	<br>
	<div class="col-4">
	<input type="text" class="fname form-control" name="fname" placeholder="First Name">
	</div>	<br><div class="col-4">
	<input type="text" class="mname form-control" name="mname" placeholder="Middle Name">
	</div>	<br><div class="col-4">
	<input type="text" class="lname form-control" name="lname" placeholder="Last Name">
	</div>	<br>
	<div class="col-4">
	<input type="email" class="email form-control" name="email" placeholder="Email">
	</div>
	<br>
	<div class="col-4">
	<input type="password" class="password form-control" name="password" placeholder="Password">
	</div>
	<br>
	<div class="col-4">
	<input type="text" class="contact form-control" name="contact" placeholder="Contact Number">
	</div>	<br>
	<div class="col-4">
	<input type="text" class="acontact form-control" name="acontact" placeholder="Alternate Contact Number">
	</div>	<br>
	<div class="col-4">
	<a href="/">Already have an account?</a>
	</div>
	<br>
	<div class="col-5 ">
	<input type="submit" class="submit btn btn-outline-primary px-5 py1" value="Sign Up">
	</div>
	
